In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt


# import dataset
movie_df =pd.read_csv('Movie_Id_Titles')
movies_rating_df=pd.read_csv('u.data',sep='\t', names=['user_id','item_id','rating','timestamp'])
movies_rating_df.drop(['timestamp'],axis=1,inplace=True)
movies_rating_df = pd.merge(movies_rating_df,movie_df,on='item_id')

In [15]:
#visualizations
ratings_mean_df = movies_rating_df.groupby('title')['rating'].mean().reset_index()

                       title    rating
0  'Til There Was You (1997)  2.333333
1               1-900 (1994)  2.600000
2      101 Dalmatians (1996)  2.908257
3        12 Angry Men (1957)  4.344000
4                 187 (1997)  3.024390

In [16]:
#filtering
#creating a pivot table of customers and movies
user_id_movies_matrix=movies_rating_df.pivot_table(index='user_id',columns='title',values='rating')

In [25]:
movie_correlations=user_id_movies_matrix.corr(method='pearson' , min_periods=80)

In [31]:
df=pd.DataFrame([['Liar Liar (1997)',5],['Star Wars (1977)' ,1]],columns=['Movie Name' , 'Ratings'])

similar_movies_list = pd.Series()
for i in range(0, 2):
    similar_movie = movie_correlations[df['Movie Name'][i]].dropna() # Get same movies with same ratings
    similar_movie = similar_movie.map(lambda x: x * df['Ratings'][i]) # Scale the similarity by your given ratings
    similar_movies_list = similar_movies_list.append(similar_movie)

C:\Users\elias\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [32]:
similar_movies_list.sort_values(inplace = True, ascending = False)
print (similar_movies_list.head(10))

Liar Liar (1997)                             5.000000
Con Air (1997)                               2.349141
Pretty Woman (1990)                          2.348951
Michael (1996)                               2.210110
Indiana Jones and the Last Crusade (1989)    2.072136
Top Gun (1986)                               2.028602
G.I. Jane (1997)                             1.989656
Multiplicity (1996)                          1.984302
Grumpier Old Men (1995)                      1.953494
Ghost and the Darkness, The (1996)           1.895376
dtype: float64